<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to
        <%= locals.message %>
    </p>

    <form action="/" method="GET">
        <input type="text" name="urlLBC"/>
        <button type="submit">
            OK
        </button>
    </form>

    <p>Price LeBonCoin : 
        <%= locals.message1 %>  
    </p>
    <p>CIty : 
        <%= locals.message2 %>  
    </p>
    <p>Type :
        <%= locals.message3 %>
    </p>
    <p>Surface : 
        <%= locals.message4 %>
    </p>
    <p>Price m² : 
        <%= locals.message5 %> €
    </p>
    <p>average price m² for a flat in this city : 
        <%= locals.message6 %> €
    </p>
    <p>average price m² for a house in this city : 
        <%= locals.message7 %> €
</p>

</body>

</html>